.puzzle {
  display: grid;
  gap: 1rem;

  --item-size: 6rem;

  transition: all ease 0.3s;


  @include card(center);

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;

    position: relative;
    justify-self: left;
    perspective: 50rem;

    color: $frontColor;

    width: var(--item-size);
    height: var(--item-size);

    transition: width ease 0.3s, height ease 0.3s;

    &--new-x {
      animation: anim-new-x #{$puzzleNewItemTime}ms ease-in-out;
    }

    &--new-y {
      animation: anim-new-y #{$puzzleNewItemTime}ms ease-in-out;
    }

    @include no-drag;

    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      backface-visibility: hidden;
      transition: all #{$puzzleItemRotateTime}ms ease-in-out;
      overflow: hidden;
      border-radius: 1rem;
    }

    &::before {
      transform: rotateY(180deg);
      background-color: currentColor;
    }

    &::after {
      background-color: $frontColor;
    }

    &--select {
      transform: rotateY(180deg);

      &::before {
        transform: rotateY(0);
      }

      &::after {
        transform: rotateY(-180deg);
      }
    }

    &__add-time {
      color: white;
      font-size: calc(var(--item-size / 3.5));
      transform: rotateY(-180deg);
    }
  }
}

@keyframes anim-new-x {
  from {
    width: 0;
  }
}

@keyframes anim-new-y {
  from {
    height: 0;
  }
}
