.puzzle {
  display: grid;
  gap: 1rem;

  font-size: $puzzle-item-width;
  transition: all ease 0.3s;

  @include respond(tab-port) {
    font-size: $puzzle-item-width * 0.8;
  }
  @media only screen and (max-height: 22.2em) {
    font-size: $puzzle-item-width * 0.7;
  }

  @include card(center);

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;

    position: relative;
    justify-self: left;
    perspective: 50rem;

    color: $frontColor;

    width: 1em;
    height: 1em;

    &--new-x {
      animation: anim-new-x #{$puzzleNewItemTime}ms ease-in-out;
    }

    &--new-y {
      animation: anim-new-y #{$puzzleNewItemTime}ms ease-in-out;
    }

    @include no-drag;

    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      backface-visibility: hidden;
      transition: all #{$puzzleItemRotateTime}ms ease-in-out;
      overflow: hidden;
      border-radius: 1rem;
    }

    &::before {
      transform: rotateY(180deg);
      background-color: currentColor;
    }

    &::after {
      background-color: $frontColor;
    }

    &--select {
      transform: rotateY(180deg);

      &::before {
        transform: rotateY(0);
      }

      &::after {
        transform: rotateY(-180deg);
      }
    }

    &__add-time {
      color: white;
      font-size: 0.3em;
      transform: rotateY(-180deg);
    }
  }
}

@keyframes anim-new-x {
  from {
    width: 0;
  }
}

@keyframes anim-new-y {
  from {
    height: 0;
  }
}
