.scoreboard {
  @include card(right);

  &__correct,
  &__wrong,
  &__total {
    margin: $font-score / 3 0;

    @include respond(phone) {
      margin: 0 $font-score / 4;
    }
  }

  &__correct__number {
    color: $color-correct;
  }

  &__wrong__number {
    color: $color-wrong;
  }

  &__total__number {
    color: $color-total;
  }
}
