extends ../module/popup

block var
  - var front_id = "menu";
  - var back_id = "how";

  - var popup_front_id_enable = false;
  - var popup_back_id_enable = false;

  - var front_title = "جدول حافظه";
  - var back_title = "جدول حافظه";

  - var front_btnPrimary_icon = "play-button";
  - var front_btnPrimary_label = "شروع";
  - var front_btnSecondary_icon = "question";
  - var front_btnSecondary_label = "بازی چطوریه";

  - var back_btnPrimary_icon = "play-button";
  - var back_btnPrimary_label = "شروع";
  - var back_btnSecondary_icon = "back";
  - var back_btnSecondary_label = "بازگشت";

block front-body
  p.popup__text
    | احتمالا تا به حال عبارت "حافظه‌ی کوتاه مدت" زیاد به گوشتان خورده باشد، اما حافظه‌ی کاری یا به عبارت بهتر "حافظه‌ی فعال" (working memory) کمی ناآشنا به نظر می‌رسد. به عبارت ساده حافظه‌ی فعال، همان حافظه‌ی کوتاه مدت است اما پژوهشگران برای آن قدرت تحلیل و دستکاری اطلاعات قائلند. یعنی شما همزمان با به خاطر سپردن اطلاعات می‌توانید در مورد روابطِ اطلاعاتی که دریافت می‌کنید فکر کنید.
    | برای این که موضوع را خیلی پیچیده‌تر نکنیم بهتر است سراغ بازی "جدول حافظه" برویم. در "بازی چجوریه؟" توضیحات بیشتری در این مورد به شما داده‌ایم.

block back-body
  p.popup__text
    | خیلی ساده است؛ تعدادی از خانه‌های جدول به مدت یکی دو ثانیه با رنگ متفاوتی نشان داده می‌شوند و سپس دوباره با بقیه خانه‌ها همرنگ می‌شوند. حالا شما باید آن‌ها را پیدا کنید. به همین راحتی!
    | هر چه مراحل جلوتر می‌رود اندازه جدول و تعداد خانه‌های رنگی و همچنین پراکندگی آن‌ها بیشتر می‌شود.
    | برای این که بتوانید بهتر خانه‌های رنگی را به ذهن بسپارید سعی کنید بین آن‌ها رابطه‌ای ترسیم کنید. مثلا خانه‌هایی که به صورت ضربدر در کنار هم قرار گرفته‌اند یا خانه‌هایی که به شکل L هستند و... را می‌توانید زودتر به ذهن بسپارید. این دقیقا تمرین همان "حافظه فعال" است که پیشتر گفتیم...

  a.popup__help.btn-second(href='#') راهنمایی بیش تر

block front-logo
  .popup__logo

block back-logo
  .popup__logo
